{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}

    <h1> {{ controller_name }}! </h1>

    <p> ceci est une page de contact </p> 

{% endblock %}
